
*.class
Cpp/Algorithm/.vs/Algorithm/v14/.suo
Cpp/Algorithm/Algorithm.VC.db
*.tlog
Cpp/Algorithm/AlgorithmBook/AlgorithmBook/Debug/AlgorithmBook.log
*.obj
*.idb
*.pdb
*.exe
*.ilk
Cpp/Algorithm/AlgorithmBook/AlgorithmBook/Debug/AlgorithmBook.Build.CppClean.log
*.ipch
Cpp/Algorithm/.vs/Algorithm/v15/Browse.VC.db
Cpp/Algorithm/.vs/Algorithm/v15/.suo
/Cpp/Algorithm/.vs/Algorithm/v15/Browse.VC.opendb
*.db
*.db-shm
*.db-wal
/Cpp/Algorithm/.vs/config/applicationhost.config
/Cpp/Algorithm/CodingGuide/Debug/CodingGuide.log
*.user
*.log
*.opendb
cpp/Algorithm/Algorithms/Debug/Algorithms.pch
/cpp/Algorithm/Algorithms/Debug/main.obj.enc
